<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
<!-- 	<bean id="helloBean" scope="prototype" class="com.service.UserService">   -->
	<bean id="helloBean" scope="singleton" class="com.service.UserService">
        <property name="name">
            <value>測試Spring</value>
        </property> 
<!--         <property name="age"> -->
<!--             <value>26</value> -->
<!--         </property>  -->
    </bean>

</beans>